* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

body {
  font-family: "Montserrat", sans-serif;
}

li,
a {
  text-decoration: none;
  list-style-type: none;
}

header {
  background: #EBFFE4;
  height: 846px;
}

.nav {
  padding-top: 55px;
  display: flex;
  align-items: center;
  gap: 329px;
  justify-content: center;
  padding-bottom: 110px;
}
.nav__list {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.nav__item:nth-child(1) a {
  color: #051101;
  font-family: "Raleway";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.nav__item a {
  color: #051101;
  text-align: center;
  font-family: "Raleway";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.nav__item:nth-child(5) a {
  color: #FFF;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #5CBE3A;
  margin-top: -15px;
  margin-left: 275px;
}
.nav__bur {
  display: none;
}

.text {
  margin-left: 180px;
  display: flex;
  gap: 210px;
}
.text__h3 {
  width: 350.487px;
  height: 27.568px;
  flex-shrink: 0;
  color: #5CBE3A;
  font-family: "Raleway";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  /* 30.8px */
  text-transform: uppercase;
}
.text__h2 {
  color: #051101;
  width: 406.591px;
  height: 65.416px;
  background-image: url(../img/green.svg);
  background-repeat: no-repeat;
  background-position: top right 20px;
  flex-shrink: 0;
  margin-top: 15px;
  /* Title / Base */
  font-family: "Raleway";
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 73.2px */
}
.text__p {
  width: 392px;
  height: 45.351px;
  flex-shrink: 0;
  color: #051101;
  margin-top: 26px;
  /* Body / Base */
  font-family: "Raleway";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  opacity: 0.7;
}
.text__n {
  margin-top: -10px;
  width: 425.484px;
  height: 25.004px;
  flex-shrink: 0;
  color: #051101;
  /* Body / Base */
  font-family: "Raleway";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  opacity: 0.7;
}
.text__n span {
  opacity: 0.7;
  color: #5CBE3A;
  font-family: "Raleway";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.text__price {
  color: #5CBE3A;
  font-family: "Raleway";
  font-size: 31px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  /* 40.3px */
}
.text__price span {
  margin-left: 15px;
  color: #87D16D;
  font-family: "Raleway";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-decoration-line: line-through;
}
.text__btn {
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #5CBE3A;
  color: #FFF;
  font-family: "Raleway";
  border: none;
  margin-top: 52px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.text__btn2 {
  margin-left: 30px;
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid rgba(92, 190, 58, 0.3);
  color: #5CBE3A;
  font-family: "Raleway";
  background-color: transparent;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.text__h4 {
  color: #5CBE3A;
  font-family: "Raleway";
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 130%;
  width: 70px;
  display: flex;
  margin-left: 20px;
  margin-top: 60px;
  flex-wrap: wrap;
  /* 40.3px */
}
.text__h4 span {
  font-size: 20px;
  color: #6f6f6f;
  margin-left: -8px;
}
.text__h4__2 {
  color: #5CBE3A;
  font-family: "Raleway";
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 130%;
  width: 70px;
  display: flex;
  margin-left: 20px;
  margin-top: 60px;
  flex-wrap: wrap;
  /* 40.3px */
}
.text__h4__2 span {
  font-size: 20px;
  color: #6f6f6f;
  margin-left: 5px;
}
.text__shoes {
  background-image: url(../img/skid.svg), url(../img/top.svg);
  background-repeat: no-repeat;
  background-position: top 110px left, left center;
  margin-left: 700px;
  margin-top: -690px;
}
.text__img {
  margin-left: 350px;
  margin-top: -100px;
}

.product {
  margin-left: 180px;
  margin-top: 118px;
  text-align: center;
  margin-bottom: 136px;
}
.product__h2 {
  width: 398px;
  height: 44.317px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25px;
  /* Subtitle / Base */
  font-family: "Raleway";
  font-size: 44px;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  /* 57.2px */
}
.product__p {
  width: 469.192px;
  height: 45.351px;
  flex-shrink: 0;
  color: #051101;
  text-align: center;
  margin: 0 auto;
  /* Body / Base */
  font-family: "Raleway";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
}
.product__list {
  justify-content: center;
  margin-top: 100px;
  gap: 30px;
}
.product__text {
  align-items: center;
}
.product__im {
  margin-bottom: 96px;
}
.product__h4 {
  color: #000;
  text-align: center;
  margin-top: 96px;
  /* Subheading / Base */
  margin-top: 10px;
  font-family: "Raleway";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 30.8px */
}
.product__img {
  margin-top: -10px;
  margin-bottom: 10px;
}
.product__i {
  color: #000;
  text-align: center;
  font-family: "Raleway";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  /* 31.2px */
}
.product__btn {
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid rgba(92, 190, 58, 0.3);
  background-color: transparent;
  margin-top: 20px;
  margin-bottom: 130px;
}

.story {
  display: flex;
  justify-content: center;
  margin-left: 180px;
  background-image: url(../img/View.svg);
  background-repeat: no-repeat;
  background-position: left center;
  margin-bottom: 130px;
}
.story__box {
  width: 618.524px;
  height: 529.838px;
  flex-shrink: 0;
  border-radius: 10px;
  margin-left: 45px;
  background: #F6FFF3;
}
.story__h2 {
  width: 362px;
  height: 111.023px;
  flex-shrink: 0;
  color: #051101;
  /* Subtitle / Base */
  font-family: "Raleway";
  margin-top: 143px;
  margin-left: 98px;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  /* 57.2px */
}
.story__p {
  width: 271.359px;
  height: 69.117px;
  flex-shrink: 0;
  color: #051101;
  /* Body / Base */
  font-family: "Raleway";
  margin-top: 23px;
  margin-left: 98px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  opacity: 0.7;
}
.story__img {
  margin-left: -80px;
  margin-top: 50px;
}/*# sourceMappingURL=main.css.map */