.product {
    margin-left: 180px;
    margin-top: 118px;
    text-align: center;
    margin-bottom: 136px;

    &__h2 {
        width: 398px;
        height: 44.317px;
        flex-shrink: 0;
        color: #000;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 25px;
        /* Subtitle / Base */
        font-family: 'Raleway';
        font-size: 44px;
        justify-content: center;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        /* 57.2px */
    }

    &__p {
        width: 469.192px;
        height: 45.351px;
        flex-shrink: 0;
        color: #051101;
        text-align: center;
        margin: 0 auto;
        /* Body / Base */
        font-family: 'Raleway';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 24px */
    }

    &__list {
        justify-content: center;
        margin-top: 100px;
        gap: 30px;
    }


    &__text {

        align-items: center;
    }

    &__im {
        margin-bottom: 96px;
    }

    &__h4 {
        color: #000;
        text-align: center;
        margin-top: 96px;
        /* Subheading / Base */
        margin-top: 10px;
        font-family: 'Raleway';
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        /* 30.8px */
    }

    &__img {
        margin-top: -10px;
        margin-bottom: 10px;
    }

    &__i {
        color: #000;
        text-align: center;
        font-family: 'Raleway';
        font-size: 24px;
        font-style: normal;
        font-weight: 700;

        line-height: 130%;
        /* 31.2px */
    }

    &__btn {
        display: inline-flex;
        padding: 15px 30px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 4px;
        border: 1px solid rgba(92, 190, 58, 0.30);
        background-color: transparent;
        margin-top: 20px;
        margin-bottom: 130px;
    }
}